@font-face {
  font-family: 'Conthrax';
  src: local('Conthrax'), url(../public/fonts/conthrax-sb.ttf) format('truetype');
} 

body {
  margin: 0;
  font-family: 'Conthrax', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/images/Background.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 45rem;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
